body.dark{
    
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    .darkmode{
        color:black;
        border: outset 2.5px lightgrey;
        
        
        }
    .container{
        background-color: whitesmoke;
        border: outset 10px lightgrey;
        
    }
    
    button{
        
        color: black;
        background: whitesmoke;
        font-size: 19px;
        border: outset 2.5px lightgray;
        
    }
    button:hover{
        border: outset 2.5px lightgray;
        transform: scale(0.95);
    }
    #equal:hover{
    
        background-color: #9C9EFE;
        transform: scale(0.95);
    }
    
    #txtDisplay{
        color: black;
        border: outset 2.5px lightgray;
        border-radius: 10% / 15%;
        background-color: whitesmoke;
    }
    #canc:hover{
        transform: scale(0.95);
        background-color: #59CE8F;
    }

}

