*{
    
}
body{
    //position:static;
    align-items: center;
    
    justify-content: center;
    align-content: center;
    width: 350px;
    background-color: whitesmoke;
    flex-direction: column-reverse;

}

.col-9{
    

}
.col-3{
    
    padding-top: 10px;
     
}

.container{
    background-color: #1C1427;
    //border: 16px outset #1C6EA4;
    display: grid;
    align-content: center;
    justify-content: center ;
                        
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 10px;  
    padding: 10px; 
    box-sizing: border-box;
    height: 360px;
    width: 280px;
    border: outset 10px #40394A;
    margin-left: 228%;
    margin-top: 300px;
    
    
}

button {
    
	color: whitesmoke;
    justify-content: center;
	background: #1C1427;
	font-size: 19px;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
	font-family: inherit;
	outline: none;
    border: outset 2.5px #40394A;
    border-radius: 10% / 50%;
	padding: 11px;
	overflow: hidden;
    
}
button:hover{

    border: outset 2.5px whitesmoke;

}
#equal:hover{

    background-color: blue;
}

.row{

display:flex;
gap:10px;


}
#txtDisplay{
    color: whitesmoke;
    border: inset 2.5px #40394A;
    border-radius: 10% / 15%;
    background-color: #1C1427;
    box-sizing: border-box;
    height: 50px;
    width: 170px;
    margin-top: 10px;

}
#canc:hover{
    background-color: green;
}